body {
    font-family: sans-serif;
    font-size: 10px;
    margin: 0;
}



/* navbar layout */

nav {
    position: fixed;
    top: 0;
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 40px;
    grid-template-columns: 50px auto 50px 50px 70px 100px;
    padding: 25px;
    font-size: 12px;
    
    
}

.rn {
    color: black !important;
}

#app-icon {
    position: relative;
    bottom: 6px;
    left: 8px;
}

#signin {
    position: relative;
    right: 20px;
    height: 30px;
    bottom: 10px;
    width: 70px;
    color: white;
    background-color: rgb(69,132,241);
    border: none;
    border-radius: 3px;
    font-weight: 700;
    padding-bottom: 3px;
    
    
}




/*universal link styling*/

a {
    text-decoration: none;
    color: #5F6368;
}




/* Logo layout */
#logo-container {
    display: flex;
    justify-content: center;
    margin-right: 15px;
}
#logo {
    display: flex;
    justify-content: center;
    margin-bottom: -10px;
    width: auto;
    margin-top: 200px;
}





/* search bar layout */
#search-container {
    display: grid;
    justify-content: left;
    margin-left: 20px
}

#search {
    margin-left: auto;
    margin-right: auto;
    grid-area: bar;
    display: grid;
    justify-content: center;
    grid-template-rows:  60px 85px;
    grid-template-columns: 30px 480px 30px;
    margin-top: 30px;
    grid-template-areas: "bar bar bar"
                         ". buttons ."
}

#searchbar {
   display: grid;
   grid-area: bar;
   border-style: solid;
   width: 480px;
   height: 40px;
   border-radius: 50px;
   border-width: 1.5px;
   border-color: hsl(213, 33%, 88%);
   outline: none;
   z-index: 1;
}

#mic-icon {
    display: grid;
    grid-area: bar;
    z-index: 2;
    
    margin-left: 450px;
    margin-top: 10px;
    width: 14px;
}

#search-icon {
    display: grid;
    grid-area: bar;
    z-index: 2;
    margin-top: 10px;
    margin-left: 10px;
}




/*buttons layout*/
#buttons-container {
    display: flex;
    grid-area: buttons;
    align-content: center;
    justify-content: center;
    gap: 12px;
    margin-top: 20px;
    

}

#submit {
    color: #5F6368;
    width: 127px;
    height: 35px;
    border: none;
    border-radius: 3px;
}

#lucky {
    color: #5F6368;
    height: 36px;
    width: 142px;
    border: none;
    border-radius: 3px;
}



/*footer layout*/
footer {
    position: fixed;
    width: 100%;
    display: grid;
    bottom: 0;
    background: #F2F2F2;
    border-top-style: solid;
    border-top-color: #E4E4E4;
    border-top-width: 1px;
    height: 40px;
    grid-template-rows: 15px;
    grid-template-columns: 95px 85px minmax(150px, auto) 65px 55px 100px ;
    align-content: center;
    color: #5F6368;
    padding-left: 30px;
    justify-items: left;
    font-size: 14px;
}