body {
    font-family: sans-serif;
    font-size: 10px;
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 40px;
    grid-template-columns: 50px auto 50px 50px 70px 90px;
    padding: 25px;
    font-size: 1.2em;
    
    
}

.rn {
    color: black !important;
}
#app-icon {
    position: relative;
    bottom: 6px;
    left: 8px;
}
#signin {
    position: relative;
    right: 15px;
    height: 30px;
    bottom: 10px;
    width: 70px;
    color: white;
    background-color: rgb(69,132,241);
    border: none;
    border-radius: 3px;
    font-weight: 700;
    padding-bottom: 3px;
    
}
a {
    text-decoration: none;
    color: #5F6368;
}


#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    margin-top: 200px;
}



#search.container {
    display: flex;
    position: relative;
}

#search {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 26px;
    height: 45px;
}

#searchbar {
   position: relative;
    margin: auto;
   width: 480px;
}

#mic-icon {
    height: 20px;
}

#submit {
    position: relative;
    margin: auto;
    margin-top: 30px;
    margin-right: 8px;

}

#lucky {
    position: relative; 
    margin: auto;
    margin-left: 8px;
}

footer {
    position: fixed;
    width: 100%;
    display: grid;
    bottom: 0;
    background: #F2F2F2;
    border-top-style: solid;
    border-top-color: #E4E4E4;
    border-top-width: 1px;
    height: 40px;
    grid-template-rows: 15px;
    grid-template-columns: 1fr 1fr 5fr 1fr 1fr 1fr ;
    align-content: center;
    color: #5F6368;
    padding-left: 30px;
    justify-items: left;
    font-size: 1.4em;
}